.statistics__item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  gap: 12px;

  z-index: 9999;
}

.statistics__item h1 {
  color: #fff;
  font-size: 40px;
}

.statistics__item p {
  font-size: 20px;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
}

.statistics__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}

.statistics__bottom {
  width: 100%;
}