.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ffffffb3;
}

.footer__top_logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__top_logo img {
  width: 200px;
}

.footer__paragraph {
  color: #ffffffb3;
  font-size: 1.3rem;
}

.footer__top_logo-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10rem;
}

.footer__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__item h1 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer__item p {
  font-size: 1.1rem;
  cursor: pointer;
}

.footer__item p:hover {
  color: rgb(0 246 255);
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 4rem;
}

.footer__bottom span {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer__bottom-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
